<aside class="sidepanel open">
  <ul class="nav nav-stacked primary-nav">
    <li class="dropdown" id="dashboard">
      <a href="<%= root_path %>" class="root-user-menu"><span><%= t('activerecord.menus.admin.dashboard') %></span></a>
    </li>
    <li class="dropdown">
      <a href="javascript:;" class="root-user-menu" id="master-table-menu-link"><span><%= t('activerecord.menus.admin.account.account') %></span><i class="fa fa-chevron-down pull-right"></i></a>
      <ul class="nav nav-stacked collapsible-menu" id="0">
        <li class=""><%= link_to pending_accounts_admin_users_path do %><span><%= t('activerecord.menus.admin.account.pending') %></span><% end %></li>
        <li class=""><%= link_to active_accounts_admin_users_path do %><span><%= t('activerecord.menus.admin.account.active') %></span><% end %></li>
        <li class=""><%= link_to deactive_accounts_admin_users_path do %><span><%= t('activerecord.menus.admin.account.inactive') %></span><% end %></li>
        <li class=""><%= link_to new_admin_user_path do %><span><%= t('activerecord.menus.admin.account.new_account') %></span><% end %></li>
      </ul>
    </li>
    <li class="dropdown">
      <a href="#" class="root-user-menu"><span><%= t('activerecord.menus.admin.database.database') %></span><i class="fa fa-chevron-down pull-right"></i></a>
      <ul class="nav nav-stacked collapsible-menu" id="1">
        <li class="<%= check_current_ctrl('equipment') %>"><%= link_to admin_equipment_index_path do %><span><%= t('activerecord.menus.admin.database.equipment') %></span><% end %></li>
        <li class="<%= check_current_ctrl('skills') %>"><%= link_to admin_skills_path do %><span><%= t('activerecord.menus.admin.database.skills') %></span><% end %></li>
        <li class="<%= check_current_ctrl('specialities') %>"><%= link_to admin_specialities_path do %><span><%= t('activerecord.menus.admin.database.specialities') %></span><% end %></li>
        <li class="<%= check_current_ctrl('permissions') %>"><%= link_to admin_permissions_path do %><span><%= t('activerecord.menus.admin.database.permissions') %></span><% end %></li>
      </ul>
    </li>
    <li class="dropdown">
      <a href="#" class="root-user-menu"><span><%= t('activerecord.menus.admin.administrative.administrative') %></span><i class="fa fa-chevron-down pull-right"></i></a>
      <ul class="nav nav-stacked collapsible-menu " id="2">
        <li class=""><%= link_to "#" do %><span><%= t('activerecord.menus.admin.administrative.invoices') %></span><% end %></li>
        <li class="<%= check_current_ctrl('plans') %>"><%= link_to admin_plans_path do %><span><%= t('activerecord.menus.admin.administrative.plans') %></span><% end %></li>
      </ul>
    </li>
    <li class="dropdown">
      <a href="#" class="root-user-menu"><span><%= t('activerecord.menus.admin.activity.activity') %></span><i class="fa fa-chevron-down pull-right"></i></a>
      <ul class="nav nav-stacked collapsible-menu ">
        <li class=""><%= link_to "#" do %><span><%= t('activerecord.menus.admin.activity.pending_files') %></span><% end %></li>
        <li class=""><%= link_to "#" do %><span><%= t('activerecord.menus.admin.activity.statistics') %></span><% end %></li>
      </ul>
    </li>
    <li class="dropdown">
      <a href="#" class="root-user-menu" id="master-table-menu-link"><span><%= t('activerecord.menus.admin.master.master') %></span>  <i class="fa fa-chevron-down pull-right"></i></a>
      <ul class="nav nav-stacked collapsible-menu " id="3">
        <li class="<%= check_current_ctrl('bank_accounts') %>"><%= link_to admin_bank_accounts_path do %><span><%= t('activerecord.menus.admin.master.bank_accounts') %></span><% end %></li>
        <li class="<%= check_current_ctrl('equipment') %>"><%= link_to admin_equipment_index_path do %><span><%= t('activerecord.menus.admin.master.equipment') %></span><% end %></li>
        <li class="<%= check_current_ctrl('equipment_brands') %>"><%= link_to admin_equipment_brands_path do %><span><%= t('activerecord.menus.admin.master.equipment_brands') %></span><% end %></li>
        <li class="<%= check_current_ctrl('equipment_models') %>"><%= link_to admin_equipment_models_path do %><span><%= t('activerecord.menus.admin.master.equipment_models') %></span><% end %></li>
        <li class="<%= check_current_ctrl('equipment_types') %>"><%= link_to admin_equipment_types_path do %><span><%= t('activerecord.menus.admin.master.equipment_types') %></span><% end %></li>
        <li class="<%= check_current_ctrl('establishment_services') %>"><%= link_to admin_establishment_services_path do %><span><%= t('activerecord.menus.admin.master.establishment_services') %></span><% end %></li>
        <li class="<%= check_current_ctrl('establishments') %>"><%= link_to admin_establishments_path do %><span><%= t('activerecord.menus.admin.master.establishments') %></span><% end %></li>
        <li><a href="#"><span><%= t('activerecord.menus.admin.master.invoices') %></span></a></li>
        <li class="<%= check_current_ctrl('invoices_patient') %>"><%= link_to admin_invoices_patients_path do %><span><%= t('activerecord.menus.admin.master.patient_invoice') %></span><% end %></li>
        <li class="<%= check_current_ctrl('plans') %>"><%= link_to admin_plans_path do %><span><%= t('activerecord.menus.admin.master.plans') %></span><% end %></li>
        <li class="<%= check_current_ctrl('positions') %>"><%= link_to admin_positions_path do %><span><%= t('activerecord.menus.admin.master.positions') %></span><% end %></li>
        <!-- <li class="<%#= check_current_ctrl('roles') %>"><%#= link_to admin_roles_path do %><span>Roles</span><%# end %></li> -->
        <li class="<%= check_current_ctrl('skills') %>"><%= link_to admin_skills_path do %><span><%= t('activerecord.menus.admin.master.skills') %></span><% end %></li>
        <li class="<%= check_current_ctrl('specialities') %>"><%= link_to admin_specialities_path do %><span><%= t('activerecord.menus.admin.master.specialities') %></span><% end %></li>
        <li><a href="#"><span><%= t('activerecord.menus.admin.master.subscription') %></span></a></li>
        <li class="<%= check_current_ctrl('settings') %>"><%= link_to admin_settings_path do %><span><%= t('activerecord.menus.admin.master.settings') %></span><% end %></li>
        <li class="<%= check_current_ctrl('forms') %>"><%= link_to admin_forms_path do %><span><%= t('activerecord.menus.admin.master.upload_file') %></span><% end %></li>
        <li class="check_current_ctrl('users')"><%= link_to admin_users_path do %><span><%= t('activerecord.menus.admin.master.user') %></span><% end %></li>
        <% if has_permission('admin/users',"accounts_to_active") %>
          <li class="check_current_ctrl('users')"><%= link_to accounts_to_active_admin_users_path do %><span><%= t('activerecord.menus.admin.master.list_of_accounts_to_activate') %></span><% end %></li>
        <% end %>
      </ul>
    </li>
  </ul>
</aside>
