<h2>Change your password</h2>

<%= form_tag(users_password_expired_update_password_path, method: :post) do %>

	<p><%= label_tag :email, "Email" %><br />
  <%= email_field_tag :email,nil,required: true %></p>

  <!-- <p><%#= label_tag :current_password, "Current password" %><br /> -->
  <!-- <%#= password_field_tag :current_password,nil,required: true %></p> -->

  <p><%= label_tag :password, "New password" %><br />
  <%= password_field_tag :password,nil,required: true %></p>
  <%= render partial: "/admin/users/password_box" %>

  <p><%= label_tag :password_confirmation, "Confirm new password" %><br />
  <%= password_field_tag :password_confirmation,nil,required: true %></p>

  <p><%= submit_tag "Change my password" %></p>
<% end %>