<tr>
	<td><%= plan.name %></td>
	<td><%= plan.price %></td>
	<td><%= plan.quota %></td>
	<% if has_permission(controller_path,"update") || has_permission(controller_path,"destroy") %>
		<td>
			<% if has_permission(controller_path,"update") %>
				<%= link_to edit_admin_plan_path(plan) do %><i class="fa fa-edit"></i><% end %>
			<% end %>
			<% if has_permission(controller_path,"destroy") %>
				<%= link_to admin_plan_path(plan), data: { confirm: "Are you sure ?" }, method: :delete do %><i class="fa fa-trash"></i><% end %>
			<% end %>
		</td>
	<% end %>
</tr>
