<div class="row">
	<%= form_tag update_settings_admin_settings_path, method: :put,id: "settings_form" do |f| %>
  	<div class="col-md-10 col-sm-10">
			<div class="col-md-2 col-sm-2">
        <h4><%= t("setting.workflow_type") %></h4>
				<%= select_tag 'setting[workflow_type]',options_for_select(Setting.workflow_types.keys,:selected=> polygraphic_resource.workflow_type ),class: "form-control polygraphic_workflow_type workflow_type",data: {type: "polygraphic"}%>
			</div>
			<div class="col-md-2 col-sm-2">
        <h4><%= t("setting.payment_type") %></h4>
				<%= select_tag 'setting[payment_type]',options_for_select(Setting.payment_types.keys,:selected=> polygraphic_resource.payment_type ),class: "form-control setting_payment_type", id: "polygraphic_setting_payment_type",data: {payment_type: "polygraphic"}%>
			</div>
			<div class="col-md-2 col-sm-2">
        <h4><%= t("setting.billing_price") %></h4>
				<%= text_field_tag :billing_price,polygraphic_resource.billing_price,name: "setting[billing_price]",class: "form-control hour_textbox" %><label class="hour_label">&euro;</label>
			</div>
			<div class="col-md-2 col-sm-2" id="polygraphic_technical_provider_price">
        <h4><%= t("setting.technical_provider_price") %></h4>
				<%= text_field_tag :technical_provider_price,polygraphic_resource.technical_provider_price,name: "setting[technical_provider_price]",class: "form-control hour_textbox" %><label class="hour_label">&euro;</label>
			</div>
			<div class="col-md-2 col-sm-2" id="polygraphic_payment_delay">
        <h4><%= t("setting.payment_waiting_delay") %></h4>
				<%= text_field_tag :payment_waiting_delay,polygraphic_resource.payment_waiting_delay,name: "setting[payment_waiting_delay]",class: "form-control hour_textbox" %><label class="hour_label payment_delay"><%= t("setting.hour") %></label>
			</div>
			<div class="col-md-2 col-sm-2" id="polygraphic_technical_provider_delay">
        <h4><%= t("setting.technical_provider_delay") %></h4>
				<%= text_field_tag :technical_provider_delay,polygraphic_resource.technical_provider_delay,name: "setting[technical_provider_delay]",class: "form-control hour_textbox" %><label class="hour_label">&euro;</label>
			</div>
			<div class="col-md-2 col-sm-2">
        <h4><%= t("setting.analysis_delay") %></h4>
				<%= text_field_tag :analysis_delay,polygraphic_resource.analysis_delay,name: "setting[analysis_delay]",class: "form-control hour_textbox" %><label class="hour_label analysis_delay"><%= t("setting.hour") %></label>
			</div>
			<div class="col-md-2 col-sm-2">
        <h4><%= t("setting.workflow_delay") %></h4>
				<%= text_field_tag :workflow_delay,polygraphic_resource.workflow_delay,name: "setting[workflow_delay]",class: "form-control hour_textbox" %><label class="hour_label workflow_delay"><%= t("setting.hour") %></label>
			</div>
			<%= hidden_field_tag :id,polygraphic_resource.id %>
			<%= hidden_field_tag :file_type,polygraphic_resource.file_type %>
		</div>
  	<div class="col-md-2 col-sm-2">
      <h4><%= t("setting.action") %></h4>
    	<%= submit_tag "Update",class: "btn btn-default gray-bg pull-right",id: "update_btn",data: {turbolinks: false} %>
  	</div>
	<% end %>
</div>
