<% users.each do |user| %>
	<tr>
		<td><%= user.email %></td>
		<td><%= user.first_name %></td>
		<td><%= user.last_name %></td>
		<td><%= I18n.locale == :en ? user&.birth_date : user&.birth_date&.strftime("%d/%m/%Y") %></td>
		<td><%= user.status %></td>
		<% if has_permission(controller_path,"update") || has_permission(controller_path,"destroy") %>
			<td>
				<% if has_permission(controller_path,"update") %>
			  	<%= link_to edit_admin_user_path(user), data: {turbolinks: false} do %><i class="fa fa-edit"></i><% end %>
			  <% end %>
			  <% if has_permission(controller_path,"destroy") %>
			  	<%= link_to admin_user_path(user), data: { confirm: "Are you sure ?" }, method: :delete do %><i class="fa fa-trash"></i><% end %>
			  <% end %>
			</td>
		<% end %>
	</tr>
<% end %>
<!-- Email : <%#= user.email %><br>
first_name : <%#= user.first_name %><br>
last_name : <%#= user.last_name %><br>
birth_date : <%#= user.try(:birth_date) %><br>
Status : <%#= user.status %><br>
<%#= link_to "View", admin_user_path(user) %> |
<%#= link_to "edit", edit_admin_user_path(user) %> |
<%#= link_to "Delete", admin_user_path(user), data: { confirm: "Are you sure ?" }, method: :delete %>
<hr> -->