<h1>Sidebar</h1>
<%= link_to "Bank Account", admin_bank_accounts_path %> |
<%= link_to "Equipment", admin_equipment_index_path %> |
<%= link_to "Equipment Brand", admin_equipment_brands_path %> |
<%= link_to "Equipment Model", admin_equipment_models_path %> |
<%= link_to "Equipment Type", admin_equipment_types_path %> |
<%= link_to "Establishment Service", admin_establishment_services_path %> |
<%= link_to "Establishment", admin_establishments_path %> |
<%= link_to "Plans", admin_plans_path %> |
<%= link_to "Positions", admin_positions_path %> |
<%= link_to "Roles", admin_roles_path %> |
<%= link_to "Skills", admin_skills_path %> |
<%= link_to "Specialities", admin_specialities_path %> |
<%= link_to "Users", admin_users_path %>
